@import "../App.scss";

.subcribe-form {
  flex-shrink: 0;
  gap: 13px;
  padding: 20px 0px;
  align-items: center;

  h1 {
    font-size: 30px;
  }

  input {
    border: none;
    width: 275px;
    height: 40px;
    padding: 0px 10px;
    border-radius: 3px;
    outline: none;
  }

  button {
    border: none;
    color: #fff;
    background-color: $secondary-color;
    padding: 11px 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}
